a{
    text-decoration: none;
    font-size: 30px;
}

.menutext{
    width: 200px;
    height: 80px;
    background: #ccc;
    line-height: 80px;
    display: inline-block;
}
.menutext:hover{
    color: #FFF;
    animation: move 1s infinite;
}
.menutext:active{
    color: black;
}
.menu{
    text-align: center;
}
@keyframes move{
    0{}
    25%{
        background: yellow;
        transform: scale(1.5);
    }
    50%{
        background: red;
    }
    75%{
        background: green;
    }
    100%{}
}
.a{
    text-align: center;
    width: 200px;
    height: 200px;
    background: red;
}
.b{
    display:inline-block;
    width: 100px;
    height: 100px;
    background: black;
    margin-top: 50%;
    transform: translate(0,-50%);
}
.xx{
    color: aliceblue;
    margin: 0 auto;
/*    background: blue;*/
    margin-top: 50%;
    transform: translate(0,-50%);
    font-size: 30px;
    line-height: 100px;

}
